@charset "UTF-8";
@import "./reset.css";
@import "./variables.css";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

@font-face {
  font-family: "EF_jejudoldam";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_jejudoldam.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 62.5%;
  overflow: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
}

/* header */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
}

header h1 {
  font-family: "EF_jejudoldam";
  font-size: 14rem;
}

header a {
  padding-top: 70px;
}

header a span {
  position: absolute;
  bottom: 20rem;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid var(--ColorBg);
  border-bottom: 1px solid var(--ColorBg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: scrollDown 1.5s infinite;
  animation: scrollDown 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes scrollDown {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes scrollDown {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

main section {
  background-color: palegoldenrod;
  position: relative;
  padding: 10rem 5rem;
  height: 100vh;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1.3fr;
  gap: 3rem;
  scroll-snap-align: start;
}
main section div {
  width: 100%;
  background-color: pink;
}
main section h2 {
  font-size: 6rem;
}
main section p {
  font-size: 2rem;
}

main canvas {
  width: 100%;
  background-color: rgb(170, 238, 204);
}

#section01 {
  box-shadow: 0 -20px 20px #dff1f4;
  background-color: palegreen;
}

#section02 {
  flex-direction: row-reverse;
  background-color: #bee4ea;
}

#section03 {
  flex-direction: row-reverse;
  background-color: #9ed7df;
}

#sectionFin {
  flex-direction: column;
  height: Calc(100vh - 60px);
  background-color: #7ccad5;
}
#sectionFin canvas {
  width: 80%;
  height: 80%;
}

footer {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  background-color: #7ccad5;
}
