@charset "UTF-8";
@import "./reset.css";
@import "./variables.css";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

@font-face {
  font-family: "EF_jejudoldam";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_jejudoldam.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 62.5%;
  overflow: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
}

#canvas {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 999;
}

main {
  width: 100vw;
  height: 100vh;
  background-color: #ffbfa9;
}

/* header */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
}

header h1 {
  font-family: "EF_jejudoldam";
  font-size: 14rem;
}

header a {
  padding-top: 70px;
}

header a span {
  position: absolute;
  bottom: 20rem;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid var(--ColorBg);
  border-bottom: 1px solid var(--ColorBg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: scrollDown 1.5s infinite;
  animation: scrollDown 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes scrollDown {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes scrollDown {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

main section {
  display: flex;
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  background-color: #a8d9ec;
}

/* 작업을 위헤 지워둠 */
#mandarin {
  display: none;
}

main #firstSection span {
  position: absolute;
  font-family: "EF_jejudoldam";
  font-size: 18rem;
  color: #fff;
  top: 43vh;
}

main #firstSection span#je {
  left: 9rem;
}

main #firstSection span#ju {
  right: 9rem;
}

main #firstSection {
  position: relative;
}

main #firstSection #island {
  display: flex;
  align-self: center;
  width: 60vw;
  height: 70vh;
  /* background-color: rgb(137, 241, 255); */
  margin: 0 auto;
}

main section div.description {
  width: 50vw;
  background-color: azure;
}

main section div.obj {
  width: 50vw;
  border: 1px solid black;
}

.right {
  float: right;
  margin-left: 0.25em;
}

main section#objWrap {
  background-color: pink;
}

main section#objWrap .obj {
  height: 70%;
  background-color: #fff;
}
