@charset "UTF-8";
@import "./reset.css";
@import "./variables.css";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

/* common */
button {
  cursor: pointer;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
}

#canvas {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: -1;
}

main {
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
  /* scroll-snap-type: y mandatory; */
  z-index: -3;
}

/* header */
header {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  height: 8vh;
  background-color: var(--ColorWhite);
  padding: 0 20rem;
}

header nav {
  display: flex;
  width: 100%;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

header nav div#logo a {
  font-size: 1.5rem;
  font-weight: 700;
}

header nav ul {
  display: flex;
}

header ul.nav_menu {
  gap: 5rem;
}

header ul.nav_icon {
  gap: 2rem;
}

header ul.nav_menu li a {
  font-size: 1.2rem;
}

header ul.nav_icon li a {
  font-size: 1.5rem;
}

/* 이거 뭔지 알아보기 */
/* @-webkit-keyframes scrollDown {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes scrollDown {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
} */

main section {
  display: flex;
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  z-index: -2;
}

/* island */
main #firstSection {
  position: relative;
}

main #firstSection #island {
  display: flex;
  align-self: center;
  width: 60vw;
  height: 70vh;
  margin: 0 auto;
}

/* section 01 */
main section#wrap {
  display: flex;
  align-items: center;
}

main section#wrap ul {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 5rem 20rem;
  justify-content: space-between;
  gap: 5rem;
}

main section#wrap ul li {
  width: 100%;
  display: grid;
  grid-template-rows: 2fr 1fr;
  padding: 5rem;
  background-color: var(--SubColor);
  border-radius: 10px;
  z-index: -2;
}

main section#wrap ul p {
  width: 100%;
  font-size: 1.5rem;
  padding-top: 2rem;
  font-weight: 700;
  background-color: aqua;
}

main section#wrap ul div.border {
  width: 100%;
  height: 100%;
  border: 1px solid var(--ColorDark);
}

/* section 02 */
main section#detail {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-bottom: 5rem;
}

main section#detail div.objWrap {
  display: flex;
  height: 60vh;
  padding: 2.5rem 20rem;
}

main section#detail div.objWrap ul {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--SubColor);
  padding: 5rem 5rem;
  border-radius: 10px;
  gap: 2rem;
  z-index: -2;
}

@media screen and (min-width: 1300px) {
  main section#detail div.objWrap ul {
    padding: 5rem 20rem;
  }
}

main section#detail div.objWrap ul li.textside {
  width: 100%;
}

main section#detail div.objWrap div.obj {
  width: 20vw;
  height: 20vw;
  border: 1px solid darkblue;
}

main section#detail div.objWrap ul li p.title {
  font-size: 3rem;
  font-weight: 700;
  padding-bottom: 2rem;
}

main section#detail div.objWrap ul li pre.description {
  font-size: 1.5rem;
}

/* footer */
footer {
  width: 100%;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
