@charset "UTF-8";
@import "./reset.css";
@import "./variables.css";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

/* common */
button {
  cursor: pointer;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

#canvas {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: -1;
}

main {
  /* position: absolute; */
  width: 80vw;
  height: 100vh;
  /* overflow: scroll;
  overflow-x: hidden; */
  /* scroll-snap-type: y mandatory; */
  z-index: -3;
  background-color: pink;
}

/* header */
header {
  position: fixed;
  display: flex;
  align-items: center;
  width: 80vw;
  height: 8vh;
  background-color: var(--ColorWhite);
}

header nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

header nav div#logo a {
  font-size: 1.5rem;
  font-weight: 700;
}

header nav ul {
  display: flex;
}

header ul.nav_menu {
  gap: 5rem;
}

header ul.nav_icon {
  gap: 2rem;
}

header ul.nav_menu li a {
  font-size: 1.2rem;
}

header ul.nav_icon li a {
  font-size: 1.5rem;
}

/* 이거 뭔지 알아보기 */
/* @-webkit-keyframes scrollDown {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes scrollDown {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
} */

main section {
  display: flex;
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  /* z-index: -2; */
}

/* island */
main #islandCont {
  width: 100%;
  background-color: aquamarine;
}

main #islandCont #island {
  display: flex;
  align-self: center;
  width: 60vw;
  height: 70vh;
  margin: 0 auto;
  background-color: aqua;
}

/* section 01 */
main section#firstSection {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

main section#firstSection ul {
  display: flex;
  width: 100%;
  height: 70%;
  gap: 5rem;
  justify-content: space-between;
}

main section#firstSection ul li {
  width: 100%;
  display: grid;
  grid-template-rows: 3fr 1fr 0.5fr;
  background-color: var(--SubColor);
  border-radius: 10px;
  padding: 5rem 0;
  z-index: -2;
}

main section#firstSection ul p {
  width: 100%;
  font-size: 3rem;
  padding-top: 3rem;
  font-weight: 700;
  text-align: center;
}

main section#firstSection ul li button {
  width: 80%;
  font-size: 2rem;
  border: none;
}

/* section 02 */
main section#secondSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

main section#secondSection div.objWrap {
  display: flex;
  height: 60vh;
  background-color: pink;
  z-index: -3;
}

main section#secondSection div.objWrap ul {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5rem 5rem;
  margin: 0 0 5rem 0;
  border-radius: 10px;
  z-index: -2;
  background-color: var(--SubColor);
  gap: 10rem;
}

main section#secondSection div.objWrap ul li.textside {
  width: 100%;
  background-color: aquamarine;
}

main section#secondSection div.objWrap div.obj {
  width: 20vw;
  height: 20vw;
  border: 1px solid darkblue;
}

main section#secondSection div.objWrap ul li p.title {
  font-size: 3rem;
  font-weight: 700;
  padding-bottom: 2rem;
}

main section#secondSection div.objWrap ul li pre.description {
  font-size: 1.5rem;
}

/* footer */
footer {
  width: 100%;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
