/* :root {
	--borderRadius: 0.4rem;

	--ColorWhite: #fff;
	--ColorBg: #3b4e7e;
	--ColorDark: #000;
	--ColorDeep: #242f4d;
	--ColorLight: #8c8d96;
	--ColorMain: #376fde;
	--ColorMainLight: #5c83ef;
	--ColorNegative: #ff537b;

	--codeText: #ffd700;
	--codeSyntex: #569cd6;
	--codeBuiltinfunction: #a76dff;
} */

:root {
  --ColorWhite: hsl(0, 0%, 100%);
  --ColorDark: hsl(0, 0%, 20%);
  --TextColor: hsl(0, 0%, 20%);
  --SubColor: hsl(0, 0%, 40%);
  --callout-bg-color: hsl(0, 0%, 90%);
}
